*{
    padding: 0;
}
.headertext{
    position: relative;
}


.dollor{
    text-align: right;
}

.shoptext{
    margin-top: 100px;
}

.lvltext{
    margin-top: 30px;
}

.buttonclick{
    margin-top: 30px;
}

.onelistshop{
    margin-left: 10%;
    
}

.twolistshop {
    margin-right: 10%;
}